@font-face {
  font-family: Syne;
  font-weight: 500;
  font-style: normal;
  src: local("../fonts/Syne/Syne-ExtraBold.ttf");
}

@font-face {
  font-family: HS;
  font-weight: 700;
  font-style: normal;
  src: local("../fonts/Syne/Syne-ExtraBold.ttf");
}

h1 {
  /* font-family: HS; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Syne;
  list-style: none;
  text-decoration: none;
}

body {
  height: max-content;
  background-image: linear-gradient(
    to right top,
    #000000,
    #0b090b,
    #131113,
    #19171a,
    #1d1d21,
    #202226,
    #24282b,
    #282d30,
    #2d3334,
    #333839,
    #393e3d,
    #404342
  );
  background-attachment: fixed;
  
  color: #f7f7f7;
}
